.card-content {
  display: flex;
  flex-direction: column;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttons-form {
  display: flex;
  justify-content: flex-end;
}

.row-template {
  display: flex;
  justify-content: space-evenly;
}

.additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
